API_ID=15754950 # get this value from my.telegram.org
API_HASH=ef4108c7521a6a2d866aa9f517fa57eb # get this value from my.telegram.org
BOT_TOKEN=6111142692:AAErRTHyUpq-f5aY3IvNgtdTWmhHUuDbFWo # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://music:music@cluster0.sh6h4.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001926692319 # get this value from in your log group 
MUSIC_BOT_NAME=QaqawMusic # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
